- var pageTitle = 'Komponen Komputer'

include presentation-header

include menu

article#presentation


	section
		h2 Komponen-Komponen Komputer
		ul
			li David Tjin
			li Albert Wijaya
			li Ricky Wijaya
			li Ismail Gohzali


	section
		h2 Pengertian Komputer
		ul
			li Serangkaian atau sekelompok mesin elektronik yang terdiri dari ribuan ataupun jutaan komponen yang saling bekerja sama untuk menerima input dan memproses data yang menghasilkan suatu output.

	section
		h2 Komponen Komputer
		ul
			li Terbagi atas 3 yaitu:
			li Hardware
			li Software
			li Brainware
		
include presentation-footer
include main-footer
