- var pageTitle = 'Presentasi dengan Bespoke.JS'

include presentation-header

include menu

article#presentation

	section

		h2 Brainware

	section
		h2 Pengertian Brainware
		ul
			li Brainware adalah manusia yang terlibat dalam mengoperasikan serta mengatur sistem di dalam komputer. Diartikan juga sebagai perangkat intelektual yang mengoperasikan dan mengeksplorasi kemampuan dari Hardware maupun Software.
            		li Brainware termasuk bagian penting dari sebuah sistem komputer. Hardware tidak dapat bekerja tanpa adanya Software, sedangkan Software dan Hardware tidak dapat bekerja tanpa adanya Brainware. Jadi 3 komponen ini saling terkait dan saling membutuhkan.
            		li Konsep Hardware – Software – Brainware adalah merupakan konsep Tri Tunggal yang tidak bisa dipisahkan satu dengan lainnya. Untuk tahap pertama, manusia hasrus memasukkan program terlebih dahulu ke dalam komputer. Setelah program tersimpan di dalam komputer, maka komputer baru bisa bekerja untuk membantu manusia di dalam menyelesaikan persoalan ataupun pekerjaannya.
	

include presentation-footer
include main-footer
