- var pageTitle = 'Brainware'

include presentation-header

include menu

article#presentation

	section
		h2 BRAINWARE

	section
		h2 PENGERTIAN BRAINWARE
		ul
			li
			li Brainware adalah manusia yang terlibat dalam mengoperasikan serta mengatur sistem di dalam komputer. 
			li Diartikan juga sebagai perangkat intelektual yang mengoperasikan dan mengeksplorasi kemampuan dari Hardware maupun Software.
			li Brainware termasuk bagian penting dari sebuah sistem komputer. Hardware tidak dapat bekerja tanpa adanya Software, sedangkan Software dan Hardware tidak dapat bekerja tanpa adanya Brainware. Jadi 3 komponen ini saling terkait dan saling membutuhkan.
			

	section
		h2 Konsep Tri Tunggal
		hr
		ul
			li
			li Konsep Hardware – Software – Brainware adalah merupakan konsep Tri Tunggal yang tidak bisa dipisahkan satu dengan lainnya. Untuk tahap pertama, manusia hasrus memasukkan program terlebih dahulu ke dalam komputer. Setelah program tersimpan di dalam komputer, maka komputer baru bisa bekerja untuk membantu manusia di dalam menyelesaikan persoalan ataupun pekerjaannya.
		
	section
		h2 Komponen Brainware
		hr
		ul
			li
			li Komponen Brainware pada umumnya dibagi dalam bagian yang dapat menunjang adanya internal check yang memadai, yaitu :
		
	section
		h2 Operator Komputer
		hr
		ul
			li
			li Orang yang bertanggung jawab untuk mengolah data melalui sistem yang berhubungan dengan komputer
			li Operator harus mengikuti instruksi yang ditetapkan dalam runbook yang telah disusun oleh Programmer
			li Perlu adanya pembatasan agar Operator tidak dapat memodifikasi program sebelum atau selama program itu berjalan

	section
		h2 Teknisi
		hr
		ul
			li
			li Orang yang bertanggung jawab untuk maintenance tentang segala jenis permasalahan komputer
			li Seorang Teknisi harus mempunyai pengetahuan luas mengenai troubleshooting dan sebagainya

	section
		h2 Trainer
		hr
		ul
			li
			li Orang yang mempunyai pengetahuan lebih banyak di banding lainnya
			li Seorang Trainer bertanggung jawab untuk mendidik dan mengajar di bidangnya

	section
		h2 Konsultan
		hr
		ul
			li
			li Orang yang bertanggung jawab layaknya seorang penasehat handal di dalam bidangnya

	section
		h2 Project Manager
		hr
		ul
			li
			li Orang yang bertanggung jawab sebagai pemimpin / komando di suatu project tertentu.

	section
		h2 Programmer
		hr
		ul
			li
			li Orang yang bertugas membuat aplikasi komputer sehingga dapat memudahkan kinerja manusia melalui program yang telah dibuatnya.

	section
		h2 Graphic Designer
		hr
		ul
			li
			li Orang yang berkecimpung di dunia Design Grafis dan mahir dalam hal membuat suatu objek animasi

	section
		h2 Spesialis Jaringan
		hr
		ul
			li
			li Orang yang sudah mahir di dalam dunia Jaringan Komputer
			li Seorang spesialis jaringan Bertanggung jawab atas semua hal yang berhubungan dengan Jaringan Komputer

	section
		h2 Database Administrator
		hr
		ul
			li
			li Orang yang bertanggung jawab terhadap database suatu aplikasi, organisasi dan sebagainya

	section
		h2 System Analis
		hr
		ul
			li
			li Orang yang bertanggung jawab untuk mendesain, merancang dan menganalisa suatu program yang akan dibuat maupun yang sudah jadi
			li Seorang Sistem Analis harus berhati – hati dalam merancang suatu aplikasi agar tidak terjadi kesalahan yang fatal


include presentation-footer
include main-footer
