- var pageTitle = 'Brainware'

include presentation-header

include menu

article#presentation

	section
		h2 HARDWARE

	section
		h2 PENGERTIAN HARDWARE
		ul
			li Pengertian dari hardware atau  dalam bahasa indonesianya disebut juga dengan nama perangkat keras adalah salah satu komponen dari sebuah komputer yang sifat alat nya bisa dilihat dan diraba oleh manusia secara langsung atau yang berbentuk nyata, yang berfungsi untuk mendukung proses komputerisasi.
			

	section
		h2 Komponen Utama Hardware
		hr
		ul
			li Bagian utama pada computer adalah CPU (Central Processing Unit), yang berfungsi sebagai otak dari computer.
			li Untuk dapat bekerja, CPU memerlukan alat masukan untuk memasukan informasi ataupun perintah
			li Hasilnya akan di keluarkan melalui alat keluaran
			li Informasi ataupun data dapat juga di ambil dan di simpan dari dan ke media penyimpanan.
		
	section
		h2 Komponen Hardware
		hr
		ul
			li Berdasarkan fungsinya, perangkat keras komputer dibagi menjadi :
		
	section
		h2 Input Device
		hr
		ul
			li Unit ini berfungsi sebagai media untuk memasukkan data dari luar ke dalam suatu memori dan processor untuk diolah guna menghasilkan informasi yang diperlukan.
			li Input devices atau unit masukan yang umumnya digunakan personal computer (PC) adalah keyboard dan mouse, keyboard dan mouse adalah unit yang menghubungkan user (pengguna) dengan komputer.
			li Input device berfungsi sebagai media untuk memasukkan data dari luar sistem ke dalam suatu memori dan processor untuk diolah dan menghasilkan informasi yang diperlukan.

	section
		h2 Golongan Input Device
		hr
		ul
			li Berdasarkan sifatnya, peralatan input dapat digolongkan menjadi dua yaitu :
			li Peratalan input langsung, yaitu input yang dimasukkan langsung diproses oleh alat pemroses. 
			li Contohnya : keyboard, mouse, touch screen, light pen, digitizer graphics tablet, scanner.
			li Peralatan input tidak langsung, input yang melalui media tertentu sebelum suatu input diproses oleh alat pemroses.
			li Contohnya : punched card, disket, harddisk.

	section
		h2 Macam Input Device
		hr
		ul
			li Unit masukan atau peralatan input ini terdiri dari beberapa macam peranti yaitu :

	section
		h2 Keyboard
		hr
		ul
			li Keyboard merupakan unit input yang paling penting dalam suatu pengolahan data dengan komputer.
			li Keyboard dapat berfungsi memasukkan huruf, angka, karakter khusus serta sebagai media bagi user (pengguna) untuk melakukan perintah-perintah lainnya yang diperlukan, seperti menyimpan file dan membuka file.

	section
		h2 Mouse
		hr
		ul
			li Mouse adalah salah unit masukan (input device)
			li Fungsi alat ini adalah untuk perpindahan pointer atau kursor secara cepat.
			li Mouse mulai digunakan secara maksimal sejak sistem operasi telah berbasiskan GUI (Graphical User Interface).

	section
		h2 Touchpad
		hr
		ul
			li Unit masukkan ini biasanya dapat kita temukan pada laptop dan notebook, yaitu dengan menggunakan sentuhan jari.
			li Biasanya unit ini dapat digunakan sebagai pengganti mouse
			li Selain touchpad adalah model unit masukkan yang sejenis yaitu pointing stick dan trackball.

	section
		h2 Light Pen
		hr
		ul
			li Light pen adalah pointer elektronik yang digunakan untuk modifikasi dan men-design gambar dengan screen (monitor).
			li Light pen memiliki sensor yang dapat mengirimkan sinyal cahaya kekomputer yang kemudian direkam, dimana layar monitor bekerja dengan merekam enam sinyal elektronik setiap baris per detik.
	
	section
		h2 Joy Stick dan Games Paddle
		hr
		ul
			li Alat ini biasa digunakan pada permainan (games) komputer.
			li Joy Stick biasanya berbentuk tongkat, sedangkan games paddle biasanya berbentuk kotak atau persegi terbuat dari plastik dilengkapi dengan tombol-tombol yang akan mengatur gerak suatu objek dalamkomputer.

	section
		h2 Barcode
		hr
		ul
			li Barcode termasuk dalam unit masukan (input device).
			li Fungsi alat ini adalah untuk membaca suatu kode yang berbentuk kotak-kotak atau garis-garis tebal vertical yang kemudian diterjemahkan dalam bentuk angka-angka.
			li Kode-kode ini biasanya menempel pada produk-produk makanan, minuman, alat elektronik dan buku. Sekarang ini, setiap kasir di supermarket atau pasar swalayan di Indonesia untuk mengidentifikasi produk yang dijualnya dengan barcode.

	section
		h2 Scanner
		hr
		ul
			li Scanner adalah sebuah alat yang dapat berfungsi untuk meng copy atau menyalin gambar atau teks yang kemudian disimpan ke dalam memori komputer. 
			li Dari memori komputer selanjutnya, disimpan dalam harddisk ataupun floppy disk. 
			li Fungsi scanner ini mirip seperti mesin fotocopy, perbedaannya adalah mesin fotocopy hasilnya dapat dilihat pada kertas sedangkan scanner hasilnya dapat ditampilkan melalui monitor terlebih dahulu sehingga kita dapat melakukan perbaikan atau modifikasi dan kemudian dapat disimpan kembali baik dalam bentuk file text maupun file gambar.

	section
		h2 Kamera Digital
		hr
		ul
			li Perkembangan teknologi telah begitu canggih sehingga komputer mampu menerima input dari kamera.
			li Kamera ini dinamakan dengan Kamera Digital dengan kualitas gambar lebih bagus dan lebih baik dibandingkan dengan cara menyalin gambar yang menggunakan scanner.
			li Ketajaman gambar dari kamera digital ini ditentukan oleh pixel-nya.

	section
		h2 Mikropon dan Headphone
		hr
		ul
			li Unit masukan ini berfungsi untuk merekam atau memasukkan suara yang akan disimpan dalam memori komputer atau untuk mendengarkan suara. 
			li Dengan mikropon, kita dapat merekam suara ataupun dapat berbicara kepada orang yang kita inginkan pada saat chating.
			li Penggunaan mikropon ini tentunya memerlukan perangkat keras lainnya yang berfungsi untuk menerima input suara yaitu sound card dan speaker untuk mendengarkan suara.

	section
		h2 Graphics Pads
		hr
		ul
			li Teknologi Computer Aided Design (CAD) dapat membuat rancangan bangunan, rumah, mesin mobil, dan pesawat dengan menggunakan Graphics Pads.  
			li Graphics pads ini merupakan input masukan untuk menggambar objek pada monitor.

	section
		h2 Touch screen
		hr
		ul
			li Touch screen mempunyai kemampuan menampilkan dan menerima informasi langsung pada layar yang sama. 
			li dengan demikian, kita dapat langsung berinteraksi dengan computer tanpa menggunakan mouse ataupun keyboard.
			li Terkadang kita cukup meyentuhkan jari langsung pada layar atau memerlukan alat tambahan seperti light pen ataupun jarum khusus


include presentation-footer
include main-footer