- var pageTitle = 'Presentasi dengan Bespoke.JS'

include presentation-header

include menu

article#presentation

	section
		h2 HARDWARE
	section
		h2 PENGERTIAN HARDWARE
		ul
			li Pengertian dari hardware atau  dalam bahasa indonesianya disebut juga dengan nama perangkat keras adalah salah satu komponen dari sebuah komputer yang sifat alat nya bisa dilihat dan diraba oleh manusia secara langsung atau yang berbentuk nyata, yang berfungsi untuk mendukung proses komputerisasi.
			li Hardware dapat bekerja berdasarkan perintah yang telah ditentukan ada padanya, atau yang juga disebut dengan dengan istilah instruction set. Dengan adanya perintah yang dapat dimengerti olehhardware tersebut, maka hardware tersebut dapat melakukan berbagai kegiatan  yang telah ditentukan oleh pemberi perintah.
			li Bagian utama pada computer adalah CPU (Central Processing Unit), yang berfungsi sebagai otak dari computer. Untuk dapat bekerja, CPU memerlukan alat masukan untuk memasukan informasi ataupun perintah. Hasilnya akan di keluarkan melalui alat keluaran. Informasi ataupun data dapat juga di ambil dan di simpan dari dan ke media penyimpanan.
			li  Secara fisik, Komputer terdiri dari beberapa komponen yang merupakan suatu sistem. Sistem adalah komponen-komponen yang saling bekerja sama membentuk suatu kesatuan. Apabila salah satu komponen tidak berfungsi, akan mengakibatkan tidak berfungsinya suatu komputer dengan baik. Komponen komputer ini termasuk dalam kategori elemen perangkat keras (hardware). Berdasarkan fungsinya, perangkat keras komputer dibagi menjadi :
1. input divice (unit masukan)
2. Process device (unit Pemrosesan)
3. Output device (unit keluaran)
4. Backing Storage ( unit penyimpanan)
5. Periferal ( unit tambahan)

	
include presentation-footer
include main-footer
