- var pageTitle = 'Presentasi dengan Bespoke.JS'

include presentation-header

include menu

article#presentation

	section
		h2 HARDWARE
	section
		h2 PENGERTIAN HARDWARE
		ul
			li Pengertian dari hardware atau  dalam bahasa indonesianya disebut juga dengan nama perangkat keras adalah salah satu komponen dari sebuah komputer yang sifat alat nya bisa dilihat dan diraba oleh manusia secara langsung atau yang berbentuk nyata, yang berfungsi untuk mendukung proses komputerisasi.

	
include presentation-footer
include main-footer
