- var pageTitle = 'Presentasi dengan Bespoke.JS'

include presentation-header

include menu

article#presentation

	section
		h2 HARDWARE
	section
		h2 PENGERTIAN HARDWARE
		ul
			li Pengertian dari hardware atau  dalam bahasa indonesianya disebut juga dengan nama perangkat keras adalah salah satu komponen dari sebuah komputer yang sifat alat nya bisa dilihat dan diraba oleh manusia secara langsung atau yang berbentuk nyata, yang berfungsi untuk mendukung proses komputerisasi.
			li Hardware dapat bekerja berdasarkan perintah yang telah ditentukan ada padanya, atau yang juga disebut dengan dengan istilah instruction set. Dengan adanya perintah yang dapat dimengerti olehhardware tersebut, maka hardware tersebut dapat melakukan berbagai kegiatan  yang telah ditentukan oleh pemberi perintah.
			li Bagian utama pada computer adalah CPU (Central Processing Unit), yang berfungsi sebagai otak dari computer. Untuk dapat bekerja, CPU memerlukan alat masukan untuk memasukan informasi ataupun perintah. Hasilnya akan di keluarkan melalui alat keluaran. Informasi ataupun data dapat juga di ambil dan di simpan dari dan ke media penyimpanan.
			li  Secara fisik, Komputer terdiri dari beberapa komponen yang merupakan suatu sistem. Sistem adalah komponen-komponen yang saling bekerja sama membentuk suatu kesatuan. Apabila salah satu komponen tidak berfungsi, akan mengakibatkan tidak berfungsinya suatu komputer dengan baik. Komponen komputer ini termasuk dalam kategori elemen perangkat keras (hardware). Berdasarkan fungsinya, perangkat keras komputer dibagi menjadi :
1. input divice (unit masukan)
2. Process device (unit Pemrosesan)
3. Output device (unit keluaran)
4. Backing Storage ( unit penyimpanan)
5. Periferal ( unit tambahan)
	section
		h2 Input Device (Unit Masukan)
		ul
			li Unit ini berfungsi sebagai media untuk memasukkan data dari luar ke dalam suatu memori dan processor untuk diolah guna menghasilkan informasi yang diperlukan. Input devices atau unit masukan yang umumnya digunakan personal computer (PC) adalah keyboard dan mouse, keyboard dan mouse adalah unit yang menghubungkan user (pengguna) dengan komputer. Selain itu terdapat joystick, yang biasa digunakan untuk bermain games atau permainan dengan komputer. Kemudian scanner, untuk mengambil gambar sebagai gambar digital yang nantinya dapat dimanipulasi. Touch panel, dengan menggunakan sentuhan jari user dapat melakukan suatu proses akses file. Microphone, untuk merekam suara ke dalamkomputer.
			li  Input device berfungsi sebagai media untuk memasukkan data dari luar sistem ke dalam suatu memori dan processor untuk diolah dan menghasilkan informasi yang diperlukan. Data yang dimasukkan ke dalam sistemkomputer dapat berbentuk signal input dan maintenance input. Signal input berbentuk data yang dimasukkan ke dalam sistem komputer, sedangkan maintenance input berbentuk program yang digunakan untuk mengolah data yang dimasukkan. Jadi Input device selain digunakan untuk memasukkan data dapat pula digunakan untuk memasukkan program. Berdasarkan sifatnya, peralatan input dapat digolongkan menjadi dua yaitu :
• Peratalan input langsung, yaitu input yang dimasukkan langsung diproses oleh alat pemroses. Contohnya : keyboard, mouse, touch screen, light pen, digitizer graphics tablet, scanner.
• Peralatan input tidak langsung, input yang melalui media tertentu sebelum suatu input diproses oleh alat pemroses. Contohnya : punched card, disket, harddisk.

	section
		h2 Keyboard
		ul
			li Keyboard merupakan unit input yang paling penting dalam suatu pengolahan data dengan komputer. Keyboard dapat berfungsi memasukkan huruf, angka, karakter khusus serta sebagai media bagi user (pengguna) untuk melakukan perintah-perintah lainnya yang diperlukan, seperti menyimpan file dan membuka file. Penciptaankeyboard komputer berasal dari model mesin ketik yang diciptakan dan dipatentkan oleh Christopher Latham pada tahun 1868, Dan pada tahun 1887 diproduksi dan dipasarkan oleh perusahan Remington.Keyboard yang digunakanan sekarang ini adalah jenis QWERTY, pada tahun 1973, keyboard ini diresmikan sebagai keyboard standar ISO (International Standar Organization). Jumlah tombol pada keyboard ini berjumlah 104 tuts. Keyboard sekarang yang kita kenal memiliki beberapa jenis port, yaitu port serial, ps2, usb dan wireless.

	section
		h2 Mouse
		ul
			li Mouse adalah salah unit masukan (input device). Fungsi alat ini adalah untuk perpindahan pointer atau kursor secara cepat. Selain itu, dapat sebagai perintah praktis dan cepat dibanding dengankeyboard . Mouse mulai digunakan secara maksimal sejak sistem operasi telah berbasiskan GUI (Graphical User Interface). sinyal-sinyal listrik sebagaiinput device mouse ini dihasilkan oleh bola kecil di dalam mouse, sesuai dengan pergeseran atau pergerakannya. Sebagian besar mouse terdiri dari tiga tombol, umumnya hanya dua tombol yang digunakan yaitu tombol kiri dan tombol kanan. Saat ini mouse dilengkapi pula dengan tombol penggulung (scroll), dimana letak tombol ini terletak ditengah. Istilah penekanan tombol kiri disebut dengan klik (Click) dimana penekanan ini akan berfungsi bila mouse berada pada objek yang ditunjuk, tetapi bila tidak berada pada objek yang ditunjuk penekanan ini akan diabaikan. Selain itu terdapat pula istilah lainnya yang disebut dengan menggeser (drag) yaitu menekan tombol kiri mouse tanpa melepaskannya dengan sambil digeser. Drag ini akan mengakibatkan objek akan berpindah atau tersalin ke objek lain dan kemungkinan lainnya. Penekanan tombol kiri mouse dua kali secara cepat dan teratur disebut dengan klik ganda (double click) sedangkan menekan tombol kanan mouse satu kali disebut dengan klik kanan (right click)Mouse terdiri dari beberapa port yaitu mouse serial, mouse ps/2, usb dan wireless.


	
include presentation-footer
include main-footer
