include header

include menu

div(class="container")
	h1 Komponen Komputer dan Sejarah & Perkembangan Komputer
	h2 Komponen Komputer
	
	h3 Komponen Komputer secara umum, terbagi 3 yaitu :

	ul
		li Software
		li Hardware
		li Brainware

	h2 Sejarah dan Perkembangan Komputer

	h3 Istilah Komputer berasal dari bahasa latin "computare", yang berarti alat hitung, karena awalnya komputer lebih digunakan sebagai perangkat bantu dalam hal penghitungan angka-angka sebelum akhirnya menjadi perangkat multifungsi. Komputer saat ini adalah hasil evolusi panjang dari komputer zaman dahulu, yang mulanya adalah alat mekanik dan elektronik. Berikut ini contoh penemuan komputer.

include main-footer
