nav(class="navbar navbar-default", role="navigation")
	div(class="container")
		div(class="navbar-header")

		div(class="collapse navbar-collapse", id="presentation-chooser")
			ul(class="nav navbar-nav")
				li(class="dropdown")
					a(class="dropdown-toggle", data-toggle="dropdown", href="#") Pilih Presentasi <b class="caret"></b>
					ul(class="dropdown-menu")
						li <a href="1-Introduction.html">Pengenalan Komponen Komputer</a>
						li <a href="2-Hardware.html">Hardware</a>
						li <a href="3-PresentasiDenganBespokeJS.html">Software</a>
						li <a href="4-SCRUM.html">Brainware</a>
						

