- var pageTitle = 'Sejarah dan Perkembangan Komputer'

include presentation-header

include menu

article#presentation

	section
		h2 Awal Sejarah Munculnya Komputer
	
		ul
			li
			li Sejarah komputer diawali dengan penemuan penting dari Charles Babbage berupa alat hitung. Berkat penemuannya itu, ia dikenal sebagai ilmuwan yang paling berpengaruh dalam perkembangan komputer. Kemudian, alat hitung tersebut dikembangkan lebih lanjut secara bertahap hingga kini terciptalah perangkat canggih bernama komputer. Tahapan dalam pengembangan komputer disebut generasi. Ada lima generasi komputer yang masing-masing memiliki cerita tersendiri.
			li Perkembangan sejarah komputer telah mengalami masa-masa sulit. Namun, berkat tangan-tangan andal dari para ilmuwan dan teknisi pada waktu itu, perkembangan dari generasi ke generasi terasa begitu mudah dan terorganisir. Komputer terus dikembangkan dengan menyisipkan inovasi-inovasi terbaru. Hingga kini, beberapa perusahaan ternama tengah menggarap komputer berteknologi tinggi dengan nama komputer masa depan.
	Section
		ul
			li Sebelum tahun 1940 Sejak dahulu kala, proses pengolahan data telah dilakukan oleh manusia. Manusia juga menemukan alat-alat mekanik dan elektronik untuk membantu manusia dalam penghitungan dan pengolahan data supaya dapat mendapatkan hasil lebih cepat. Komputer yang kita temui saat ini adalah suatu evolusi panjang dari penemuan penemuan manusia sejak dahulu kala berupa alat mekanik mahupun elektronik.
			li Saat ini, komputer dan peranti pendukungnya telah masuk dalam setiap aspek kehidupan dan pekerjaan yang lebih dari sekedar perhitungan matematik biasa. Di antaranya adalah sistem komputer di pasar raya yang mampu membaca kod barang belanjaan, pusat telefon yang menangani jutaan panggilan dan komunikasi, serta jaringan komputer dan internet yang menghubungkan berbagai tempat di dunia.
	Section	
		h2 Komputer ada 4 golongan yaitu:		
		ul
			li
			li 1.  Peralatan manual: peralatan pengolahan data yang sangat sederhana, dan faktor terpenting dalam pemakaian alat adalah menggunakan tenaga tangan manusia
			li 2. Peralatan Mekanik : peralatan yang sudah berbentuk mekanik yang digerakkan dengan tangan secara manual
			li 3. Peralatan Mekanik Elektronik : Peralatan mekanik yang digerakkan oleh secara otomatis oleh motor elektronik
			li 4. Peralatan Elektronik : Peralatan yang bekerjanya secara elektronik penuh	
	Section	
		ul 
			h2 Beberapa peralatan yang telah digunakan sebagai alat hitung sebelum ditemukannya komputer:
			h3 a. Abacus		
		img(src="images/abacus.jpg")
		ul
			li Muncul sekitar 5000 tahun yang lalu di Asia kecil dan masih digunakan di beberapa tempat hingga saat ini, dapat dianggap sebagai awal mula mesin komputasi. Alat ini memungkinkan penggunanya untuk melakukan perhitungan menggunakan biji bijian geser yang diatur pada sebuh rak. Para pedagang di masa itu menggunakan abacus untuk menghitung transaksi perdagangan. Seiring dengan munculnya pensil dan kertas, terutama di Eropa, Abacus kehilangan popularitasnya.
	Section
		h3 b. Kalkulator roda numerik (numerical wheel calculator)
		img.big(src="images/kalkulator.jpg")
		ul
			li Setelah hampir 12 abad, muncul penemuan lain dalam hal mesin komputasi. Pada tahun 1642, Blaise Pascal (1623-1662), yang pada waktu itu berumur 18 tahun, menemukan apa yang ia sebut sebagai kalkulator roda numerik (numerical wheel calculator) untuk membantu ayahnya melakukan perhitungan pajak.
	Section
		h3 c. Kalkulator roda numerik 2
		img.big(src="images/kalku.gif")
		ul
			li Tahun 1694 seorang matematikawan dan filsuf Jerman, Gottfred Wilhem von Leibniz (1646-1716) memperbaiki Pascaline dengan membuat mesin yang dapat mengalikan. Sama seperti pendahulunya, alat mekanik ini bekerja dengan menggunakan roda-roda gerigi. Dengan mempelajari catatan dan gambar-gambar yang dibuat oleh Pascal, Leibniz dapat menyempurnakan alatnya.
	Section
		h3 d. Kalkulator Mekanik
		img.big(src="images/kalku1.gif")
		ul
			li Charles Xavier Thomas de Colmar menemukan mesin yang dapat melakukan empat fungsi aritmatik dasar. Kalkulator mekanik Colmar, arithometer, mempresentasikan pendekatan yang lebih praktis dalam kalkulasi karena alat tersebut dapat melakukan penjumlahan, pengurangan, perkalian, dan pembagian. Dengan kemampuannya, arithometer banyak dipergunakan hingga masa Perang Dunia I. Bersama-sama dengan Pascal dan Leibniz, Colmar membantu membangun era komputasi mekanikal.
	Section
		h2 Dalam sejarah komputer, ada 5 generasi, yaitu :
			h3 1. Generasi Pertama (1944-1959)
			img.big(src="images/k1.jpg")
	Section
		ul
			li 1. Generasi Pertama (1944-1959)
			li Tabung hampa udara sebagai penguat sinyal, merupakan ciri khas komputer generasi pertama. Pada awalnya, tabung hampa udara (vacum-tube) digunakan sebagai komponen penguat sinyal. Bahan bakunya terdiri dari kaca, sehingga banyak memiliki kelemahan, seperti: mudah pecah, dan mudah menyalurkan panas. Panas ini perlu dinetralisir oleh komponen lain yang berfungsi sebagai pendingin. Dan dengan adanya komponen tambahan, akhirnya komputer yang ada menjadi besar, berat dan mahal. 		
			li Pada tahun 1946, komputer elektronik didunia yang pertama yakni ENIAC sesai dibuat. Pada komputer tersebut terdapat 18.800 tabung hampa udara dan berbobot 30 ton. begitu besar ukurannya, sampai-sampai memerlukan suatu ruangan kelas tersendiri. Pada gambar nampak komputer ENIAC, yang merupakan komputer elektronik pertama didunia yang mempunyai bobot seberat 30 ton, panjang 30 M dan tinggi 2.4 M dan membutuhkan daya listrik 174 kilowatts.
	Section
			h3 2. Generasi Kedua (1960-1964)
			img.big(src="images/k2.jpg")
	Section
		ul
			li 2. Generasi Kedua (1960-1964)
			li Transistor merupakan ciri khas komputer generasi kedua. Bahan bakunya terdiri atas tiga lapis, yaitu: "basic", "collector" dan "emmiter". Transistor merupakan singkatan dari Transfer Resistor, yang berarti dengan mempengaruhi daya tahan antara dua dari tiga lapisan, maka daya (resistor) yang ada pada lapisan berikutnya dapat pula dipengaruhi. Dengan demikian, fungsi transistor adalah sebagai penguat sinyal. Sebagai komponen padat, tansistor mempunyai banyak keunggulan seperti misalnya: tidak mudah pecah, tidak menyalurkan panas. dan dengan demikian, komputer yang ada menjadi lebih kecil dan lebih murah.
			li Pada tahun 1960-an, IBM memperkenalkan komputer komersial yang memanfaatkan transistor dan digunakan secara luas mulai beredar dipasaran. Komputer IBM- 7090 buatan Amerika Serikat merupakan salah satu komputer komersial yang memanfaatkan transistor. Komputer ini dirancang untuk menyelesaikan segala macam pekerjaan baik yang bersifat ilmiah ataupun komersial. Karena kecepatan dan kemampuan yang dimilikinya, menyebabkan IBM 7090 menjadi sangat popular. Komputer generasi kedua lainnya adalah: IBM Serie 1400, NCR Serie 304, MARK IV dan Honeywell Model 800.
	Section
		ul 
			h3 3. Generasi Ketiga (1964-1975)
			img.big(src="images/k3.jpg")	
			li
			li Konsep semakin kecil dan semakin murah dari transistor, akhirnya memacu orang untuk terus melakukan pelbagai penelitian. Ribuan transistor akhirnya berhasil digabung dalam satu bentuk yang sangat kecil. Secuil silicium yang mempunyai ukuran beberapa milimeter berhasil diciptakan, dan inilah yang disebut sebagai Integrated Circuit atau IC-Chip yang merupakan ciri khas komputer generasi ketiga.
	Section
		ul
			li 3. Generasi Ketiga (1964-1975)
			li Cincin magnetic tersebut dapat di-magnetisasi secara satu arah ataupun berlawanan, dan akhirnya men-sinyalkan kondisi "ON" ataupun "OFF" yang kemudian diterjemahkan menjadi konsep 0 dan 1 dalam system bilangan biner yang sangat dibutuhkan oleh komputer. Pada setiap bidang memory terdapat 924cincin magnetic yang masing-masing mewakili satu bit informasi. Jutaan bit informasi saat ini berada didalam satu chip tunggal dengan bentuk yang sangat kecil.
			li Komputer yang digunakan untuk otomatisasi pertama dikenalkan pada tahun 1968 oleh PDC 808, yang memiliki 4 KB (kilo-Byte) memory dan 8 bit untuk core memory. Dapat digunakan untuk multiprogram. Contoh komputer generasi ketiga adalah Apple II, PC, dan NEC PC.	
	Section
			h3 4. Generasi Keempat (1975-Sekarang)
			img.big(src="images/k4.jpg")	
	Section
		ul
			li 4. Generasi Keempat (1975-Sekarang)
			li Komputer generasi keempat masih menggunakan IC/chip untuk pengolahan dan penyimpanan data. Komputer generasi ini lebih maju karena di dalamnya terdapat beratus ribu komponen transistor. Proses pembuatan IC komputer generasi ini dinamakan pengintegrasian dalam skala yang sangat besar. Pengolahan data dapat dilakukan dengan lebih cepat atau dalam waktu yang singkat. Media penyimpanan komputer generasi ini lebih besar dibanding generasi sebelumnya. Komputer generasi ini sering disebut komputer mikro.
			li Contohnya adalah PC (Personal Computer). Teknologi IC komputer generasi ini yang membedakan antara komputer mikro dan komputer mini serta main frame. Beberapa teknologi IC pada generasi ini adalah Prosesor 6086, 80286, 80386, 80486, Pentium I, Celeron, Pentium II, Pentium III, Pentium IV, Dual Core, dan Core to Duo. Generasi ini juga mewujudkan satu kelas komputer yang disebut komputer super.
	Section
		ul
			h3 5. Generasi Kelima (Sekarang - Masa depan)
			img(src="images/k5.jpg")
			li	
			li Generasi kelima dalam sejarah evolusi komputer merupakan komputer impian masa depan. Ia diperkirakan mempunyai lebih banyak unit pemprosesan yang berfungsi bersamaan untuk menyelesaikan lebih daripada satu tugas dalam satu masa.
	Section
		ul
			li 5. Generasi Kelima (Sekarang - Masa depan)	
			li Komputer ini juga mempunyai ingatan yang amat besar sehingga memungkinkan penyelesaian lebih dari satu tugas dalam waktu bersamaan. Unit pemprosesan pusat juga dapat berfungsi sebagai otak manusia. Komputer ini juga mempunyai kepandaian tersendiri, merespon keadaan sekeliling melalui penglihatan yang bijak dalam mengambil sesuatu keputusan bebas dari pemikiran manusia yang disebut sebagai artificial intelligence.
			li Banyak kemajuan di bidang desain komputer dan teknologi semakin memungkinkan pembuatan komputer generasi kelima. Dua kemajuan rekayasa yang terutama adalah kemampuan pemrosesan paralel, yang akan menggantikan model von Neumann. Model von Neumann akan digantikan dengan sistem yang mampu mengkoordinasikan banyak CPU untuk bekerja secara serempak. Kemajuan lain adalah teknologi superkonduktor yang memungkinkan aliran elektrik tanpa ada hambatan apapun, yang nantinya dapat mempercepat kecepatan informasi.
			li Jepang adalah negara yang terkenal dalam sosialisasi jargon dan proyek komputer generasi kelima. Lembaga ICOT (Institute for new Computer Technology) juga dibentuk untuk merealisasikannya. Banyak kabar yang menyatakan bahwa proyek ini telah gagal, namun beberapa informasi lain bahwa keberhasilan proyek komputer generasi kelima ini akan membawa perubahan baru paradigma komputerisasi di dunia. Kita tunggu informasi mana yang lebih valid dan membuahkan hasil.

	
include presentation-footer
include main-footer
