- var pageTitle = 'Sejarah dan Perkembangan Komputer'

include presentation-header

include menu

article#presentation

	section
		h2 Awal Sejarah Munculnya Komputer
	
		ul
			li
			li Sejarah komputer diawali dengan penemuan penting dari Charles Babbage berupa alat hitung. Berkat penemuannya itu, ia dikenal sebagai ilmuwan yang paling berpengaruh dalam perkembangan komputer. Kemudian, alat hitung tersebut dikembangkan lebih lanjut secara bertahap hingga kini terciptalah perangkat canggih bernama komputer. Tahapan dalam pengembangan komputer disebut generasi. Ada lima generasi komputer yang masing-masing memiliki cerita tersendiri.
			li Perkembangan sejarah komputer telah mengalami masa-masa sulit. Namun, berkat tangan-tangan andal dari para ilmuwan dan teknisi pada waktu itu, perkembangan dari generasi ke generasi terasa begitu mudah dan terorganisir. Komputer terus dikembangkan dengan menyisipkan inovasi-inovasi terbaru. Hingga kini, beberapa perusahaan ternama tengah menggarap komputer berteknologi tinggi dengan nama komputer masa depan.
	Section
		ul
			li Sebelum tahun 1940 Sejak dahulu kala, proses pengolahan data telah dilakukan oleh manusia. Manusia juga menemukan alat-alat mekanik dan elektronik untuk membantu manusia dalam penghitungan dan pengolahan data supaya dapat mendapatkan hasil lebih cepat. Komputer yang kita temui saat ini adalah suatu evolusi panjang dari penemuan penemuan manusia sejak dahulu kala berupa alat mekanik mahupun elektronik.
			li Saat ini, komputer dan peranti pendukungnya telah masuk dalam setiap aspek kehidupan dan pekerjaan yang lebih dari sekedar perhitungan matematik biasa. Di antaranya adalah sistem komputer di pasar raya yang mampu membaca kod barang belanjaan, pusat telefon yang menangani jutaan panggilan dan komunikasi, serta jaringan komputer dan internet yang menghubungkan berbagai tempat di dunia.
	Section	
		h2 Komputer ada 4 golongan yaitu:		
		ul
			li
			li 1.  Peralatan manual: peralatan pengolahan data yang sangat sederhana, dan faktor terpenting dalam pemakaian alat adalah menggunakan tenaga tangan manusia
			li 2. Peralatan Mekanik : peralatan yang sudah berbentuk mekanik yang digerakkan dengan tangan secara manual
			li 3. Peralatan Mekanik Elektronik : Peralatan mekanik yang digerakkan oleh secara otomatis oleh motor elektronik
			li 4. Peralatan Elektronik : Peralatan yang bekerjanya secara elektronik penuh	
	Section	
		ul 
			h2 Beberapa peralatan yang telah digunakan sebagai alat hitung sebelum ditemukannya komputer:
			h3 a. Abacus		
		img(src="images/abacus.jpg")
		ul
			li Muncul sekitar 5000 tahun yang lalu di Asia kecil dan masih digunakan di beberapa tempat hingga saat ini, dapat dianggap sebagai awal mula mesin komputasi. Alat ini memungkinkan penggunanya untuk melakukan perhitungan menggunakan biji bijian geser yang diatur pada sebuh rak. Para pedagang di masa itu menggunakan abacus untuk menghitung transaksi perdagangan. Seiring dengan munculnya pensil dan kertas, terutama di Eropa, Abacus kehilangan popularitasnya.
	Section
		h3 b. Kalkulator roda numerik (numerical wheel calculator)
		img.big(src="images/kalkulator.jpg")
		ul
			li Setelah hampir 12 abad, muncul penemuan lain dalam hal mesin komputasi. Pada tahun 1642, Blaise Pascal (1623-1662), yang pada waktu itu berumur 18 tahun, menemukan apa yang ia sebut sebagai kalkulator roda numerik (numerical wheel calculator) untuk membantu ayahnya melakukan perhitungan pajak.
	Section
		h3 c. Kalkulator roda numerik 2
		img.big(src="images/kalku.gif")
		ul
			li Tahun 1694 seorang matematikawan dan filsuf Jerman, Gottfred Wilhem von Leibniz (1646-1716) memperbaiki Pascaline dengan membuat mesin yang dapat mengalikan. Sama seperti pendahulunya, alat mekanik ini bekerja dengan menggunakan roda-roda gerigi. Dengan mempelajari catatan dan gambar-gambar yang dibuat oleh Pascal, Leibniz dapat menyempurnakan alatnya.
	Section
		h3 d. Kalkulator Mekanik
		img.big(src="images/kalku1.gif")
		ul
			li Charles Xavier Thomas de Colmar menemukan mesin yang dapat melakukan empat fungsi aritmatik dasar. Kalkulator mekanik Colmar, arithometer, mempresentasikan pendekatan yang lebih praktis dalam kalkulasi karena alat tersebut dapat melakukan penjumlahan, pengurangan, perkalian, dan pembagian. Dengan kemampuannya, arithometer banyak dipergunakan hingga masa Perang Dunia I. Bersama-sama dengan Pascal dan Leibniz, Colmar membantu membangun era komputasi mekanikal.
	Section
		h2 Dalam sejarah komputer, ada 5 generasi, yaitu :
			h3 1. Generasi Pertama (1944-1959)
			img.big(src="images/k1.jpg")
	Section
		ul
			li 1. Generasi Pertama (1944-1959)
			li Tabung hampa udara sebagai penguat sinyal, merupakan ciri khas komputer generasi pertama. Pada awalnya, tabung hampa udara (vacum-tube) digunakan sebagai komponen penguat sinyal. Bahan bakunya terdiri dari kaca, sehingga banyak memiliki kelemahan, seperti: mudah pecah, dan mudah menyalurkan panas. Panas ini perlu dinetralisir oleh komponen lain yang berfungsi sebagai pendingin. Dan dengan adanya komponen tambahan, akhirnya komputer yang ada menjadi besar, berat dan mahal. 		
			li Pada tahun 1946, komputer elektronik didunia yang pertama yakni ENIAC sesai dibuat. Pada komputer tersebut terdapat 18.800 tabung hampa udara dan berbobot 30 ton. begitu besar ukurannya, sampai-sampai memerlukan suatu ruangan kelas tersendiri. Pada gambar nampak komputer ENIAC, yang merupakan komputer elektronik pertama didunia yang mempunyai bobot seberat 30 ton, panjang 30 M dan tinggi 2.4 M dan membutuhkan daya listrik 174 kilowatts.
	Section
			h3 2. Generasi Kedua (1960-1964)
			img.big(src="images/k2.jpg")
	Section
		ul
			li 2. Generasi Kedua (1960-1964)
			li Transistor merupakan ciri khas komputer generasi kedua. Bahan bakunya terdiri atas tiga lapis, yaitu: "basic", "collector" dan "emmiter". Transistor merupakan singkatan dari Transfer Resistor, yang berarti dengan mempengaruhi daya tahan antara dua dari tiga lapisan, maka daya (resistor) yang ada pada lapisan berikutnya dapat pula dipengaruhi. Dengan demikian, fungsi transistor adalah sebagai penguat sinyal. Sebagai komponen padat, tansistor mempunyai banyak keunggulan seperti misalnya: tidak mudah pecah, tidak menyalurkan panas. dan dengan demikian, komputer yang ada menjadi lebih kecil dan lebih murah.
			li Pada tahun 1960-an, IBM memperkenalkan komputer komersial yang memanfaatkan transistor dan digunakan secara luas mulai beredar dipasaran. Komputer IBM- 7090 buatan Amerika Serikat merupakan salah satu komputer komersial yang memanfaatkan transistor. Komputer ini dirancang untuk menyelesaikan segala macam pekerjaan baik yang bersifat ilmiah ataupun komersial. Karena kecepatan dan kemampuan yang dimilikinya, menyebabkan IBM 7090 menjadi sangat popular. Komputer generasi kedua lainnya adalah: IBM Serie 1400, NCR Serie 304, MARK IV dan Honeywell Model 800.
	Section
		ul 
			h3 3. Generasi Ketiga (1964-1975)
			img.big(src="images/k3.jpg")	
			li
			li Konsep semakin kecil dan semakin murah dari transistor, akhirnya memacu orang untuk terus melakukan pelbagai penelitian. Ribuan transistor akhirnya berhasil digabung dalam satu bentuk yang sangat kecil. Secuil silicium yang mempunyai ukuran beberapa milimeter berhasil diciptakan, dan inilah yang disebut sebagai Integrated Circuit atau IC-Chip yang merupakan ciri khas komputer generasi ketiga.

	
include presentation-footer
include main-footer
