- var pageTitle = 'Sejarah dan Perkembangan Komputer'

include presentation-header

include menu

article#presentation

	section
		h2 Awal Sejarah Munculnya Komputer
	
		ul
			li
			li Sejarah komputer diawali dengan penemuan penting dari Charles Babbage berupa alat hitung. Berkat penemuannya itu, ia dikenal sebagai ilmuwan yang paling berpengaruh dalam perkembangan komputer. Kemudian, alat hitung tersebut dikembangkan lebih lanjut secara bertahap hingga kini terciptalah perangkat canggih bernama komputer. Tahapan dalam pengembangan komputer disebut generasi. Ada lima generasi komputer yang masing-masing memiliki cerita tersendiri.
			li Perkembangan sejarah komputer telah mengalami masa-masa sulit. Namun, berkat tangan-tangan andal dari para ilmuwan dan teknisi pada waktu itu, perkembangan dari generasi ke generasi terasa begitu mudah dan terorganisir. Komputer terus dikembangkan dengan menyisipkan inovasi-inovasi terbaru. Hingga kini, beberapa perusahaan ternama tengah menggarap komputer berteknologi tinggi dengan nama komputer masa depan.
	Section
		ul
			li Sebelum tahun 1940 Sejak dahulu kala, proses pengolahan data telah dilakukan oleh manusia. Manusia juga menemukan alat-alat mekanik dan elektronik untuk membantu manusia dalam penghitungan dan pengolahan data supaya dapat mendapatkan hasil lebih cepat. Komputer yang kita temui saat ini adalah suatu evolusi panjang dari penemuan penemuan manusia sejak dahulu kala berupa alat mekanik mahupun elektronik.
			li Saat ini, komputer dan peranti pendukungnya telah masuk dalam setiap aspek kehidupan dan pekerjaan yang lebih dari sekedar perhitungan matematik biasa. Di antaranya adalah sistem komputer di pasar raya yang mampu membaca kod barang belanjaan, pusat telefon yang menangani jutaan panggilan dan komunikasi, serta jaringan komputer dan internet yang menghubungkan berbagai tempat di dunia.

	
include presentation-footer
include main-footer
