- var pageTitle = 'Sejarah dan Perkembangan Komputer'

include presentation-header

include menu

article#presentation

	section
		h2 Awal Sejarah Munculnya Komputer
	
		ul
			li
			li Sejarah komputer diawali dengan penemuan penting dari Charles Babbage berupa alat hitung. Berkat penemuannya itu, ia dikenal sebagai ilmuwan yang paling berpengaruh dalam perkembangan komputer. Kemudian, alat hitung tersebut dikembangkan lebih lanjut secara bertahap hingga kini terciptalah perangkat canggih bernama komputer. Tahapan dalam pengembangan komputer disebut generasi. Ada lima generasi komputer yang masing-masing memiliki cerita tersendiri.
			li Perkembangan sejarah komputer telah mengalami masa-masa sulit. Namun, berkat tangan-tangan andal dari para ilmuwan dan teknisi pada waktu itu, perkembangan dari generasi ke generasi terasa begitu mudah dan terorganisir. Komputer terus dikembangkan dengan menyisipkan inovasi-inovasi terbaru. Hingga kini, beberapa perusahaan ternama tengah menggarap komputer berteknologi tinggi dengan nama komputer masa depan.

	
include presentation-footer
include main-footer
