- var pageTitle = 'Software'

include presentation-header

include menu

article#presentation

	section
		h2 SOFTWARE

	section
		h2 PENGERTIAN SOFTWARE
		ul
			li Software (perangkat lunak) merupakan program-program komputer yang berguna untuk menjalankan suatu pekerjaan sesuai dengan yang dikehendaki. Program tersebut ditulis dengan bahasa khusus yang imengerti oleh komputer. Software terdiri dari beberapa jenis, yaitu;

	section
		h2 Perkembangan software
		ul
			li Perkembangan software dibagi kedalam empat periode yaitu :
			li Periode Pioner 
			li Periode Stabil 
			li Periode Mikro 
			li Periode Modern 

	section
		h2 Periode Pioner(1950-1963)
		ul 
			li Bentuk perangkat lunak pada awalnya adalah sambungan-sambungan kabel antar bagian dalam komputer.
			li Penggunaan komputer saat itu masih dilakukan secara langsung, sebuah program untuk sebuah mesin dan digunakan untuk tujuan tertentu.
			li Penggunaan komputer dilakukan secara langsung dan hasil yang selesaidikerjakan komputer berupa print out.
			li Proses yang di lakukan di dalam komputer berupa baris instruksi yang diproses secara berurutan.

	section
		h2 Periode Stabil(1963-1980)
		ul 
			li Pada era stabil penggunaan komputer sudah cukup meluas dan banyak digunakan di berbagai kalangan.
			li Baris-baris perintah perangkat lunak yang dijalankan oleh komputer dilakukan secara serempak (multi tasking).
			li Satu perangkat lunak dapat digunakan oleh banyak pengguna (multi user) secara cepat/langsung (real time).
			li Mulai diperkenalkan sistem basis data, yang memisahkan antara program (pemroses) dengan data (yang di proses).	

	
	
	section
		h2 Periode Mikro (1980–1990)
		ul
			li Perangkat lunak dapat dibedakan menjadi perangkat lunak sistem yang bertugas menangani internal, dan perangkat lunak aplikasi yang digunakan secara langsung oleh penggunannya untuk keperluan tertentu.
			li Automatisasi yang ada di dalam perangkat lunak mengarah ke suatu jenis kecerdasan buatan.
	
	section 
		h2 Periode Modern (1990–sampai sekarang)
		ul 
			li Perangkat lunak/software terdapat pada hampir semua perangkat elektronik.
			li Semua perangkat yang memiliki software dapat saling terhubung secara otomatis.
			li Pembuatan sebuah perangkat lunak bukan lagi pekerjaan sebagian orang, tetapi telah menjadi pekerjaan banyak orang, dengan beberapa tahapan proses yang melibatkan berbagai disiplin ilmu dalam perancangannya.
			li Tingkat kecerdasan yang ditunjukkan oleh perangkat lunak pun semakin meningkat, selain permasalahan teknis, perangkat lunak sekarang mulai bisa mengenal suara dan gambar.
	
	section
		h2 Jenis Software
		ul 
			li Berdasarkan Fungsinya terbagi menjadi:
			li a. Perangkat lunak Sistem
			li Perangkat lunak yang kegunaannya lebih banyak ditujukan untuk operasional komputer, seperti:
			li Sistem operasi seperti Windows, linux, MacOS, dll.
			li Penerjemah bahasa pemrograman (compiler/interpreter) seperti C, Java, C++, C#, dll.
      
	section 
		ul 
			li b. Perangkat lunak Aplikasi
			li Perangkat lunak yang kegunaannya lebih banyak ditujukan untuk membantu menyelesaikan masalalah-masalah yang dihadapi oleh pemakai.
			li Program paket yang sudah jadi seperti word, exel, photoshop, dll.
	
	section
		ul Jenis Software berdasarkan Aplikasi-nya terbagi atas:
			li 1. Perangkat Lunak Sistem (Sistem Software)
			li 2. Perangkat Lunak Waktu Nyata (Real Time Software)
			li 3. Perangkat Lunak Bisnis (Business Software)
			li 4. Perangkat Lunak Rekayasa dan Sains (Engineering and Scientific Software)
			li 5. Perangkat Lunak yang ditanam pada suatu chip (EEPROM)
			li 6. Perangkat Lunak Komputer Pribadi (Personal Computer Software
			li 7. Perangkat Lunak Intelegensia Buatan (Artifical Intelligent Software)

	section
		ul
			li 1. Perangkat Lunak Sistem (Sistem Software)
			li Sekumpulan program yang ditulis untuk kepentingan program lain
			li contoh : editor, driver dan lain-lain

	section 
		ul
			li 2. Perangkat Lunak Waktu Nyata (Real Time Software)
			li Suatu perangkat lunak yang berfungsi mengendalikan, memonitor atau menganalisis kejadian (event) yang terjadi pada keadaan nyata (seketika).

	section
		ul
			li 3. Perangkat Lunak Bisnis (Business Software)
			li Perangkat lunak yang memberikan fasilitas operasi untuk bisnis atau fasilitas pengambilan keputusan manajemen.
			li contoh : sistem akuntansi, inventory, payroll dan lain-lain.
	
	section
		ul 4. Perangat Lunak Rekayasa dan Sains (Engineering and Scientific Software)
		li Perangkat lunak yang digunakan di dalam bidang aplikasi teknik dan kerekayasaan. Perangkat lunak jenis ini biasanya berhubungan dengan komputasi data numerik, CAD (Computer Aided Design), simulasi sistem, dan lain-lain. 
		Li contoh : AutoCAD
	Section
		Ul 5. Embedded Perangkat lunak yang ditanam pada suatu chip (EEPROM).
			li Perangkat lunak ini terintegrasi dengan perangkat keras dan berfungsi mengatur kinerja dari perangkat keras tersebut.
			li contoh : microwave oven, telpon genggam, pengaturan avionik pesawat udara, dan lain-lain.

	section 
		Ul
			Li 6. Perangkat Lunak Komputer Pribadi (Personal Computer Software)
			li Banyak digunakan pada aplikasi yang bersifat perorangan
			li contoh : pengolah kata, spreadsheet, game, DBMS dan lain-lain.

	section 
		Ul
			Li 7. Perangkat Lunak Intelegensia Buatan (Artificial Intelligent Software)
			li Dibuat dengan menggunakan teknik algoritma non-numerik untuk memecahkan masalah yang kompleks, digunakan dalam bidang aplikasi kecerdasan buatan
			li contoh : game, expert sistem, neural network, dan lain-lain



include presentation-footer
include main-footer
