- var pageTitle = 'Software'

include presentation-header

include menu

article#presentation

	section
		h2 SOFTWARE

	section
		h2 PENGERTIAN SOFTWARE
		ul
			li Software (perangkat lunak, merupakan program-program komputer yang berguna untuk menjalankan suatu pekerjaan sesuai dengan yang dikehendaki. Program tersebut ditulis dengan bahasa khusus yang imengerti oleh komputer. Software terdiri dari beberapa jenis, yaitu;


	section
		h2 Perkembangan software
		ul
			li Perkembangan software dibagi kedalam empat periode yaitu :
			li Periode Pioner 
			li Periode Stabil 
			li Periode Mikro 
			li Periode Modern 
	section
		h2 Periode Pioner(1950-1963)
		ul 
			li Bentuk perangkat lunak pada awalnya adalah sambungan-sambungan kabel antar bagian dalam komputer.
			li Penggunaan komputer saat itu masih dilakukan secara langsung, sebuah program untuk sebuah mesin dan digunakan untuk tujuan tertentu.
			li Penggunaan komputer dilakukan secara langsung dan hasil yang selesaidikerjakan komputer berupa print out.
			li Proses yang di lakukan di dalam komputer berupa baris instruksi yang diproses secara berurutan.
	section
		h2 Periode Stabil(1963-19)80
		ul 
			li Pada era stabil penggunaan komputer sudah cukup meluas dan banyak digunakan di berbagai kalangan.
			li Baris-baris perintah perangkat lunak yang dijalankan oleh komputer dilakukan secara serempak (multi tasking).
			li Satu perangkat lunak dapat digunakan oleh banyak pengguna (multi user) secara cepat/langsung (real time).
			li Mulai diperkenalkan sistem basis data, yang memisahkan antara program (pemroses) dengan data (yang di proses).		
include presentation-footer
include main-footer
