- var pageTitle = 'Software'

include presentation-header

include menu

article#presentation

	section
		h2 SOFTWARE

	section
		h2 PENGERTIAN SOFTWARE
		ul
			li Software (perangkat lunak, merupakan program-program komputer yang berguna untuk menjalankan suatu pekerjaan sesuai dengan yang dikehendaki. Program tersebut ditulis dengan bahasa khusus yang imengerti oleh komputer. Software terdiri dari beberapa jenis, yaitu;


	section
		h2 Perkembangan software
		ul
			li Perkembangan software dibagi kedalam empat periode yaitu :
			li Periode Pioner 
			li Periode Stabil 
			li Periode Mikro 
			li Periode Modern 

include presentation-footer
include main-footer
